	body{
		background-color:#fff;
	}
	a:hover{
		text-decoration: none;
	}
	.layui-nav{
		padding: 0;
	}
 	.right{
 		float: right;
 	}
 	.layui-col-xs3,.layui-col-xs9{
 		padding-top: 2em;
 	}
 	.layui-col-xs3{
 		padding-right: 2em;
 	}
 	.layui-field-box{
 		padding-left:2em;
 		padding-right:2em;
 		letter-spacing: .05em;
 	}
 	.layui-elem-field {
        text-align: center;
    }
 	@media screen and (max-width:336px){
 		.layui-nav-item{
 			width: 25vw;
 			text-align: center;
 		}
 	}
 	@media screen and (max-width:768px){
 		.layui-col-xs9{
 			width: 100%;
 		}
 	}