    @font-face {
        font-family: noto;
        src: url(../fonts/NotoSansCJK-Regular-1.otf);
    }

    @font-face {
        font-family: noto-bold;
        src: url(../fonts/NotoSansCJK-Bold-6.otf);
    }

    ::selection {
        background: #333;
        color: #fff;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        list-style: none;
        /*font-family: noto;*/
        user-select: none;
    }

    a {
        color: #111;
        text-decoration: none;
    }
    .container {
        width: 50%;
        margin: 0 auto;
    }

    .top {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        padding: 2rem 0;
        border-bottom: 1px solid #ccc;
        user-select: none;
    }

    .top .title {
        font-family: note-bold;
    }

    .top .main {
        cursor: pointer;
    }

    .items {
        padding-top: 3rem;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        letter-spacing: .1rem;
    }

    .item {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .item .title {
        font-size: 1.25rem;
        padding: 1rem 0;
        cursor: pointer;
        transition: transform .5s ease;
    }

    .item .title:hover {
        transform: translate(3rem, 0);
    }

    .item .content {
        color: #444;
        font-size: 1rem;
        padding: 1rem 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .item .footer {
        padding: 1rem 0;
        color: #999;
        font-size: .8rem;
        display: flex;
        justify-content: space-between;
    }
    .footer .fa{
        margin:0 1rem;
    }
    @media (max-width: 768px) {
        .container {
            width: 100%;
            padding:0 1rem;
        }

        .top {
            padding: 1rem 0rem;
        }

        .items {
            padding-top: 1rem;
        }
    }