@font-face{
    font-family: montserrat;
    src:url(../fonts/Montserrat-Regular-8.otf);
}

*{
    margin: 0;
    padding:0;
    list-style: none;
}
ul{
    margin-bottom: 0;
}
.container-fulid{
    height: 100vh;
    box-sizing: border-box;
}
#home{
    background-color:#e17055;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blog{
    background-color: #4a69bd;
}
#about{
    background-color: #079992;
}
#contact{
    background-color:#747d8c;
}
#blog,#about,#contact{  
    text-align: center;
    padding-top: 10vh;
}
a{
    color:#57606f;
}
a:hover{
    color: #000;
    text-decoration: none;
}
body{
    background-color:#f9f6f8;
    color: black;
}
#top{
    width: 100%;
    height:5em;
    background-color: #fab1a0;
    z-index: 100000;
    transition: all .25s linear;
    position: fixed;
    top:0;
    touch-action:none;
}
li{
    transition: all .5s linear;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0 1em;
    padding: .5em;
}
.logo{
    font-size:2em;
    letter-spacing:0.3em;
    font-weight: bold;
    color: #f1f2f6;
}
.pull-right{
    margin-top:0.25em;
}
.logo:hover,.mobilebar{
    border-bottom: none;
}
.mobilebar{
    display: none;
    color: white;
}
.active{
    color: #000;
}
form{
    color: black;
    height: auto;
}
.search{
    width:100%;
    height:auto;
    text-align: center;
    box-sizing: border-box;
    font-size:1.6em;
    margin-bottom: 6em;
    font-family: montserrat;
}
input[type="text"]{
    width: 4em;
    height: 2.4em;
    border:none;
    border-radius:1.2em 0 0 1.2em;
    text-align: center;
    transition: all .25s ease;
    box-sizing: border-box;
    border:1px solid #337ab7;
    font-size: 1.25em;
    overflow: hidden;
}
input[type="text"]:focus,input[type="text"]:hover{
    outline: none;
    width: 16em;
}
input[type="submit"]{
    width: 4em;
    height: 2.4em;
    border:none;
    border-radius: 0 1.2em 1.2em 0;
    font-size: 1.25em;
}
input[type="submit"]:focus{
    outline: none;
}
h1{
    margin:0;
    padding:0;
    height: 2em;
    color: #f1f2f6;
    font-size:3em;
    line-height:2em;
    text-align: center;
}
.totop{
    width: 5em;
    height: 5em;
    background-color: black;
    opacity: 0;
    position: fixed;
    bottom:2em;
    right: 2em;
    color:white;
    text-align: center;
    line-height: 5em;
    transition: all .5s ease;
    border-radius: 50%;
    cursor: pointer;
}
.totop:hover{
    line-height: 50px;
}
.mobileitems{
    width: 100%;
    height:10em;
    overflow: hidden;
    background-color: #fab1a0;
    text-align: center;
    position: fixed;
    top:5em;
    touch-action:none;
}
.mobileitem{
    width: 100%;
    font-size:1.25em;
    height:2em;
    line-height: 2em;
    box-sizing: border-box;
}
@media(max-width: 786px){
    .search{
        font-size:1em;
    }
    .pull-right{
        display: none;
    }
    .mobilebar{
        width: 3em;
        height:100%;
        line-height: 2.5em;
        font-size:2em;
        margin:0;
        padding:0;
        text-align: center;
        padding-right:.1em; 
        display: inline-block;
    }
    .mobilebar:hover{
        border:none;
    }
    .logo{
        padding-left: .1em;
        letter-spacing: .1em;
    }
    
}